.background {
    background: linear-gradient(to bottom, transparent 80%, rgba(252, 252, 252, 255) 100%), url('../img/SAOVICENTE.jpeg');
    background-color: beige;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}



.MediumCLM{
    margin-top: 10%;
    width: 80%;
    height: 92.2%;
    background-color: white;
    /* margin-left: 10%; */
    position: absolute;
    left: 10%;
    overflow: scroll;
    -webkit-box-shadow: -9px 5px 41px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -9px 5px 41px -4px rgba(0,0,0,0.75);
box-shadow: -9px 5px 41px -4px rgba(0,0,0,0.75);
}

.img{
    background-position: center;
    background-image: url("../img/47774.png");
    background-size: contain;background-repeat: no-repeat;
    width: 20%;
    min-height: 18%;
}

@media screen and (max-width: 800px) {
    .MediumCLM{
        width: 80%;
        height: 100%;
        background-color: white;
        /* margin-left: 10%; */
        position: absolute;
        left: 10%;
        overflow: scroll;
    }

   
    
    
  }

  .child{
    display: inline-block;
    /* background: blue; */
    margin: 10px 0 0 2%;
    flex-grow: 1;
    height: 100px;
    width: calc(100% * (1/5) - 10px - 1px);
}